@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: black;
    background-color: #FCEDDA;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* border-bottom: 0.5px solid #661106;
    background-color: #f7ce9b; */
    height: 90px;

}

#logo {
    padding-left: 30px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: #661106;
}

#menu {
    padding-right: 50px;
}

#menu li {
    display: inline-block;
    margin: 15px;
}

#menu li a {
    text-decoration: none;
    font-size: 150%;
    color: #78180c;
}

#menu a:hover {
    border-bottom: 1.2px solid rgb(15, 6, 6);
    color: #b80d5a;
}

.active {
    border-bottom: 1.2px solid #7A2048;
}


#hero-image {
    background: url("..//yogapics/hero-image.jpg") no-repeat;
    border: 1px solid #B85042;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

}

#hero-image h2 {
    text-align: center;
    font-size: 350%;
    font-weight: 900;
    color:black;
    margin-top: 20%;
    font-style: oblique;
}

#advantagae {
    display: block;
    align-items: center;
    margin: 1% 10%;
    padding: 30px;
}

#yoga-benefits {
    margin-bottom: 80px;
}

.benefits {
    margin: 3% 10%;
    padding: 0 20px;
}

.benefits li {
    list-style: disc;
    text-align: left;
    font-size: 130%;
    padding-left: 10px;
    margin: 10px;

}

#yoga-benefits h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 30px;
    text-decoration: underline;

}

#yoga-benefits p {
    font-size: 130%;
    text-align: justify;
    margin: 0 50px;
}

#yoga-benefits h3 {
    font-size: 150%;
    text-decoration: underline;
    margin-bottom: 20px;
}

footer {
    height: 65px;
    background-color: #f7dfc1;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks li i {
    font-size: 200%;
    margin: 15px;
    padding: 5px 10px;
    color: #3a3a3a;
}

/* Media queries for different screen size*/

@media screen and (max-width:1250px) {

    #senior-yoga,
    #meditation,
    #advanced-yoga,
    #child-yoga,
    #basic-yoga {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        border: 1px solid #B85042;
    }

    #hero-image h2 {
        font-size: 250%;
        margin-top: 20%;
        width: 300px;
        margin-left:35px;
        color: black;
        background-color: #f1cb9d;
        border: 0.5px solid #661106;


    }

}

/* Media query for maximum width 950px */

@media screen and (max-width:950px) {

    #senior-yoga img,
    #child-yoga img,
    #meditation img {
        padding-top: 55px;
        padding-left: 5px;
    }

    #basic-yoga img,
    #advanced-yoga img {
        padding-top: 40px;
        padding-left: 5px;
    }

    #contact-form {
        margin-top: 45px;
    }

    #contact-form input,
    #contact-form textarea {
        width: 70%;
    }

}

/* Media query for maximum width 750px */
@media screen and (max-width:750px) {
    header {
        display: inline;
        border-bottom: 0.5px solid #7d1102;
        background-color: #eabb82;

    }

    #menu li a {
        margin:5px;
    }

    #logo {
        padding-top: 10px;
    }

    #senior-yoga,
    #meditation,
    #advanced-yoga,
    #child-yoga,
    #basic-yoga {
        display: block;
        text-align: center;
    }
}

/* Media query for maximum width 450px */
@media screen and (max-width:450px) {

    #logo {
        font-size: 120%;
        padding: 10px 15px;
    }

    #menu li {
        font-size: 62%;
        margin:0.5px;
        padding-left:2px;
    }

    #hero-image h2 {
        font-size: 120%;
        margin-top: 20%;
        width: 110px;
        margin-left:7px;
        color: black;
        background-color: #f1cb9d;
        border: 0.5px solid #661106;
    }

    #hero-image {
        height: 400px;
        width: 70%;
        margin-left:5%;
        margin-top: 20px;

    }

    #yoga-benefits h2 {
        font-size: 150%;
    }

    #yoga-benefits p {
        font-size: 110%;

    }

    #yoga-benefits h3 {
        font-size: 130%;
        width: 200px;
    }

    #yoga-benefits li {
        font-size: 110%;
    }

    #senior-yoga img,
    #meditation img,
    #advanced-yoga img,
    #child-yoga img,
    #basic-yoga img {
        width: 70%;
    }

    #yoga-program h2 {
        font-size: 100%;
    }

    #senior-yoga h3,
    #meditation h3,
    #advanced-yoga h3,
    #child-yoga h3,
    #basic-yoga h3 {
        font-size: 80%;
    }

    #senior-yoga p,
    #meditation p,
    #advanced-yoga p,
    #child-yoga p,
    #basic-yoga p {
        font-size: 70%;
    }
}

/* Media query for width:1250px and above */
@media screen and (min-width:1250px) {
    #advantagae {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5px;
        margin: 50px 20%;

    }

    #senior-yoga,
    #meditation,
    #advanced-yoga,
    #child-yoga,
    #basic-yoga {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        border: 1px solid #B85042;
    }

    #hero-image h2 {
        font-size: 350%;
        margin-top: 10%;
        width: 350px;
        margin-left: 10%;
        color: black;
        background-color: #f1cb9d;
        border: 0.5px solid #661106;


    }
}


/* Our Programs page */

#yoga-program {
    /* margin-bottom: 80px; */
    padding: 20px;
}

#yoga-program h2{
    text-align: center;
    font-size: 190%;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

#senior-yoga p,
#meditation p,
#advanced-yoga p,
#child-yoga p,
#basic-yoga p {
    font-size: 120%;
    margin: 20px;
    padding: 0 20px;

}

#senior-yoga h3,
#meditation h3,
#advanced-yoga h3,
#child-yoga h3,
#basic-yoga h3 {
    font-size: 150%;
    text-align: center;
    color: #B85042;
    text-decoration: underline;

}
#classes{
    padding:20px;
    margin-bottom:80px;
    margin-top:20px;

}
#classes h2{
    text-align: center;
    margin-top: 20px;
    font-size: 190%;
    text-decoration: underline;
    
}
#classes p{
    text-align: center;
    font-size: 120%;
}
#classes h3{
    font-size: 150%;
    text-decoration: underline;
    color: #B85042;
    margin:10px;
}
#group-classes, #private-classes{
    border:1px solid #B85042;
    margin:20px;
    text-align: left;
    padding:10px;
}
#group-classes h4{
    text-align: center;
    font-size: 135%;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#B85042;
}
/* Contact us page styling */

#contact-form {
    margin-top: 25px;
    margin-left: 20%;
    margin-bottom: 70px;
    
}

#contact-form h2 {
    font-size: 200%;
    color: #B85042;
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    line-height: 40px;
    font-size: 130%;
}

input {
    font-size: 100%;
    line-height: 35px;
    width: 50%;
    border: #f0cc9f 1px solid;
}

textarea {
    font-size: 130%;
    width: 50%;
    border: #f0cc9f 1px solid;
}

button {
    font-size: 130%;
    line-height: 40px;
    margin-top: 15px;
    border: 1px solid #f1ab55;
    padding: 0 20px;
    cursor: pointer;

}

#thanks-msg h2 {
    font-size: 250%;
    color: #661106;
    text-align: center;
    margin-top:15%;
    width: 50%;
    margin-left: 20%;


}

#thanks-msg>button {
    margin-left:30%;

}