@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    /* color: #B85042; */
    color: rgb(81, 3, 216);
    overflow-x: hidden;

    background-color: rgb(252, 233, 217);
    /* background-color: #E7E8D1; */
}

/* headings and logo*/
h1 {
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 550;
    /* color: #B85042; */
    color: rgb(81, 3, 216);
}

#logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150%;
    margin-right: auto;

}

#menu {
    margin-right: 60px;
}

#menu li {
    list-style: none;
    font-size: 150%;
    display: inline-block;
    padding: 8px 15px;
    margin: 3px;
}

#menu li a {
    text-decoration: none;
    color: inherit;


}

header {
    /* overflow-x: hidden; */
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    position: sticky;
    background-color: rgb(251, 201, 161);
    top: 0px;
    width: 100%;


}

.btn {
    /* color: #B85042; */

    color: rgb(81, 3, 216);
    font-weight: 600;
    cursor: pointer;
    font-size: 100%;
    border-radius: 50px;
    /* background-color: #A7BEAE; */
    background-color: rgb(219, 140, 75);
    padding: 9px 25px;
    margin-left: 50px;

}

#menu a:hover {
    border-bottom: 1.2px solid rgb(15, 6, 6);
    color: #b80d5a;

}

.active {
    border-bottom: 1.2px solid #7A2048;
}

#hero-outer {
    position: relative;
    /* height: 600px; */
    width: 100%;
}

#hero-image {
    height: 90vh;
    width: 100%;
    /* background: url("../images/pic3.jpeg") no-repeat ; */
    /* background: url("../images/yogweb.jpg") no-repeat ; */
    background: url("../images/Y1.jpg") no-repeat ;
    border: 1px solid #B85042;
    background-size: cover;
    background-position: center;
    
}

#text h2 {
    font-size: 230%;
}

#text {
    font-size: 130%;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 450px;
    height: 250px;
    padding-top: 20px;
    padding-left: 20px;
    bottom: 40%;
    right: 20%;
    position: absolute;
    color: rgb(81, 3, 216);
    font-weight: 700;
    text-align: center;

}

#benefits-yoga {
    height: 700px;
    width: 100%;
    /* position:relative; */


}

#benefits-yoga h2 {
    text-align: center;
    text-decoration: underline;
    line-height: 45px;
    font-size: 250%;
    padding: 20px;
    margin: 20px;
}

.advantage {
    box-sizing: border-box;
    height: 600px;
    width: 100%;
    position: absolute;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    /* overflow: hidden; */



}

.advantage h3 {
    text-align: center;
    margin-top: 15px;
    font-size: 170%;
    font-weight: 900;


}

#flexibility {
    background: url("../images/pic3\ -\ Copy.jpeg") no-repeat center center;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    position: relative;
}

#strength {
    background: url("../images/pic14.jpeg") no-repeat center center;
    width: 100%;
    height: 100%;
    border-radius: 30%;

}

#stress {
    background: url("../images/medi.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    border-radius: 35%;

}

#spritual {
    background: url("../images/meditation.png") no-repeat center center;
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

#health {
    background: url("../images/child\ yoga2.jpeg") no-repeat center center;
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

#control {
    background: url("../images/yogabalance.jpg") no-repeat center center;
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

footer {
    height: 70px;
    /* background-color: rgb(247, 222, 202); */
    background-color: rgb(251, 201, 161);
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks li i {
    font-size: 200%;
    margin: 15px;
    padding: 5px 10px;
    /* color:#3a3a3a; */
    color: rgb(81, 3, 216);
}

/* Media queries */

/* For screen size from 450 px and below  */
@media screen and (min-width:380px) {
    body {
        overflow-x: hidden;
    }

    header {
        height: 50px;
        display: inline-block;
        padding-top: 3px 20px;
        width: 100%;
    }

    #menu {
        display: inline-block;
        margin: 2px;
        color: red;
        line-height: 30px;
        /* float:left; */

    }

    #menu li {
        font-size: 100%;
        font-weight: 900;
        padding: 5px;
    }

    #logo h1 {
        font-size: 70%;
        padding: 0px;
    }

    #hero-image {
        width: 100%;
        height: 300px;
        /* padding-left: -30px; */
    }

    #text {
        height: 150px;
        width: 150px;
        /* top:0px; */
        bottom: 45%;
        right: 20%;

    }

    #text p {
        font-size: 13px;
        font-weight: 600px;
        text-transform: capitalize;

    }

    #text h2 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;

    }

    #benefits-yoga h2 {
        font-size: 150%;
        padding-top: 5px;
    }

    .advantage h3 {
        font-size: 120%;
    }

    .advantage {
        height: 1600px;
        width: 100%;
        display: inline;
        padding: 5px 10px;
        margin-bottom:2px;

    }

    #flexibility {
        height: 250px;
        width: 100%;
        padding: 2px 25px;
        margin-bottom: 15px;

    }

    #strength {
        height: 250px;
        width: 100%;
        padding: 2px 25px;
        margin-bottom: 15px;

    }

    #stress {
        height: 250px;
        width: 100%;
        padding: 2px 25px;
        margin-bottom: 15px;

    }

    #spritual {
        height: 250px;
        width: 100%;
        padding: 2px 25px;
        margin-bottom: 15px;

    }

    #health {
        height: 250px;
        width: 100%;
        padding: 2px 25px;
        margin-bottom: 15px;

    }

    #control {
        height: 250px;
        width: 100%;
        padding: 2px 25px;
        margin-bottom: 15px;

    }
    footer{
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
    }

    #photos {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        margin: 10px 5px;
        border: 1px solid blue;
    }

    #form-section {
        height: 400px;
        width: 100%;
        position: relative;

    }

    #signup-form {
        height: 150px;
        font-size: 60%;
        width:100px;
        position: absolute;
        margin-left:-30px;
        margin-top: -20px;
    }

    #signup-form h1 {
        font-size: 40%;
        padding:5px;
    }

    input,
    select {
        margin-left: 5px;
        height: 15px;
        border-radius: 10px;
        width: 100px;

    }

    label {
        line-height: 15px;
        font-size:17px;
    }

}
@media screen and (min-width:650px) {

     header {
        height: 60px;
        width: 100%;
        display:flex;
        padding:5px 30px;
    }

    #menu {
        display: inline-block;
        margin: 60px;

    }

    #menu li {
        font-size: 110%;
        font-weight: 900;
        padding: 5px;
    }

    #logo h1 {
        font-size: 100%;
        padding: 0px;
    }
    /* Hero-section:Image and text */

    #hero-image {
        width: 100%;
        height: 450px;
    }

    #text {
        height: 200px;
        width: 200px;
    }

    #text p {
        font-size: 18px;
        font-weight: 600px;

    }

    #text h2 {
        font-size: 35px;
        font-weight: 800;
        text-align: center;

    }
    
    #benefits-yoga h2 {
        font-size: 180%;
        padding-top: 10px;
    }

    .advantage h3 {
        font-size: 150%;
    }

    .advantage {
        height: 800px;
        width: 100%;
        /* display: inline;
        padding: 5px; */
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;

    }

    /* #flexibility {
        height: 200px;
        width: 95%;
        padding: 2px 25px;
        margin-bottom: 15px;
        float:left;

    }

    #strength {
        height: 200px;
        width: 80%;
        padding: 2px 25px;
        margin-bottom: 15px;
        float:right;

    } 

}
/* Style gallery page*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;


}

#photos>img {
    width: 100%;

}


/*  Style Signup page */
#form-section {
    background: url("../images/Signupbg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    /* clear:both; */
    position: relative;
}

#signup-form {
    height: 400px;
    font-size: 120%;
    width: 470px;
    position: absolute;
    top: 50px;
    left: 40px;
    /* margin:10px 5px; */
    /* border: 1px solid rgb(81, 3, 216); */
    border-radius: 30px;
}

#signup-form h1 {
    text-decoration: underline;
    font-size: 150%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    
}

input,
select {
    margin-left: 10px;
    height: 25px;
    border-radius: 10px;
    width: 150px;

}

label {
    line-height: 30px;
    padding-left: 10px;
}

button {
    border-radius: 50px;
    background-color: bisque;
    font-size: 70%;
    color: rgb(81, 3, 216);
    padding: 5px 20px;
    margin-left:15%;
    cursor: pointer;
    font-weight: 600;
}
}